html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #000000;
  color: #1a1a1a;
  font-family: 'Comic Neue', cursive;
  word-spacing: 2px;
}

.banner,
h1,
#buttons {
  transition: 0.6s;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%;
  background: url("images/Flow\ Chart\ Whiteboard\ in\ Red\ Blue\ Basic\ Style\(4\).png");
  /* background-size: 150%; */
  background-position: center;
  transition: 0.5s;
}

.banner h1 {
  font-size: 50px;
  color: #f9f9f9;
}

h1{
 color: #fff;
 opacity: 1;
 margin-top: 0;
 font-family: 'Rowdies', cursive;
}

#button {
  padding: 12px 36px;
  border-radius: 50px;
  border: 0;
  background: #f9f9f9 ;
  color: #0e0e13;
  font-size: 18px;
  font-family: 'Rowdies', cursive;;
}

.bannerDiv{
  background-color: rgba(0,0,0,0.7);
  padding-bottom: 2rem;
  padding-top: 2rem;
  padding-right: 4rem;
  padding-left: 4rem;
  border-radius: 1rem;
  text-align: center;
}

.container {
  background: #000;
  padding: 60px 15%;
}

h2 {
  font-size: 28px;
  color: white;
}

.smallcontainer{
  padding: 3rem;
  margin: 3rem;
  background-color: #98c4ff;
  border-radius: 1rem;
  transition: 0.4s;
  display: flex;
  flex-direction: column;
  font-size: 17px;
}

.smallcontainer:hover{
  transform: scale(1.03);
}

.options{
  margin: 3rem;
  border-radius: 1rem;
  display: flex;
  height: 20rem;
  gap: 1rem;
}

.options>div{
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 1rem;
  background-position: center;
  background-repeat:no-repeat ;
  background-size: auto 100%;
  transition: all .8s cubic-bezier(0.25, 0.4, 0.45, 1.4);
}

.options>div:hover{
  flex: 2;
}
.options:hover>:not(:hover){
  opacity: 0.5;
}
.options>div>a{
  text-decoration: none;
  width: 100%;
  margin-bottom: 2rem;
  text-align: center;
  color: black;
  font-family: 'Rowdies', cursive;
  background-color: rgb(255, 255, 255, 0.4);
}

.picksDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem;
  width: 100%;
}

#picks{
  position: absolute;
  color: black;
  font-size: 2.4rem;
  -webkit-text-stroke: 2px #3f3f3f;
}

#picks::before{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: #98c4ff;
  -webkit-text-stroke: 0px;
  border-right: 4px solid #98c4ff;
  overflow: hidden;
  animation: animate 5s linear infinite;
}

@keyframes animate{
  0%, 10%, 100%{
    width: 0;
  }
  70%, 90%{
    width: 100%;
  }
}

.quickDetails{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.webtoonDetails{
  margin-left: 0.7rem;
  margin-right: 0.7rem;
}

.webtoonImage img{
  height: 250px;
  margin-right: 2rem;
  margin-right: 2rem;
}

.webtoonDetails p span{
  font-weight: bold;
}

.firstEp{
  text-align: center;
  text-decoration: none;
  color: #98c4ff;
  background-color: #1a1a1a;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 1.3rem;
  font-weight: bold;
  font-family: 'Rowdies', cursive;
  transition: 0.3s ;
  letter-spacing: 1px;
}

.firstEp:hover{
  background-color: #4e9bff;
  color: black;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .8);
}

.enddiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  margin: 0;
  color: white;
  font-family: 'Rowdies', cursive;
  font-size: 30px;
  background-color: #221e6f;
  animation: colorchange 5s infinite ;
  width: 100%;
}

@keyframes colorchange {
  0%{
    background-color: #221e6f;
    color: white;
  }
  25%{
    background-color: #652ee4;
    color: white;
  }
  50%{
    background-color: #9576df;
    color: black;
  }
  75%{
    background-color: #b7a3e7;
    color: black;
  }
}